body{

}
h1{
    color: red;
    text-align: center;
    font-weight: 700;
    font-size:30px;
}
h2{
    font-size:20px;
    color: blue;
}
h4{
    color: blue;
}
p{
    text-align: justify;
    font-size: 20px;
}
img{
	width: 100%;
	height: auto;
}

table{
    width:100%;
}
tr, th, td{
    text-align: center;
    border-bottom: 0.2px solid #D3D3D3;
}